<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow" />
        <meta
            name = "description"
            content = "This is a website for people to search the weather they want."
        />
        <meta name="author" content="Brian Chen" />
        <title>Homepage</title>

        <link rel="stylesheet" href="../public/styles/style.css" />
    </head>
    <body>
        <h1>This is a Homepage.</h1>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About us</a></li>
                <li><a href="./login.html">Log in</a></li>
                <li><a href="./contact.html">Contact us</a></li>
            </ul>  
        </nav>
    </body>
</html>